* {
    color: white;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    background: linear-gradient(45deg, black, #2a012a)
}

.dialogBoxBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.screenBox {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.divCenter {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

